body {
    background-color: white;
}

.nav-link {
    font-size: 17px;
}

.circleNav {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 50%;
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: 50%;
}